SUPABASE_URL = "https://qimddvntigxsvqdlogjb.supabase.co/rest/v1/"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFpbWRkdm50aWd4c3ZxZGxvZ2piIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTk3MTMxNywiZXhwIjoyMTA1NTQ3MzE3fQ.gwLUb5bsTk3Ia3buzOUcQYIx0Bqcyg5fsLTx0EFCGvc"
